{{- /*

Choose this structure if you want a loosely coupled main menu.

Structure of content:
- Content
  - Course1
    - Module1
      - Chapter1 <- put a menu item here!
  - Pages

*/ -}}

<nav class="navbar navbar-expand-lg shadow-sm sticky-top" style="background-color: #fff;">
  <div class="container">
    <a class="navbar-brand" href="{{ relURL "" }}">{{ partial "logo" . }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="mainNavbar" aria-labelledby="mainNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="mainNavbarLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav flex-grow-1 pe-3">
          {{- range site.Menus.main }}
            {{ if .HasChildren }}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ .Name }}
                </a>
                <ul class="dropdown-menu">
                  {{ range .Children }}
                    <li><a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a></li>
                  {{ end }} 
                </ul>
              </li>
            {{ else }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{- end }}
          {{- end }}
        </ul>
      </div>
    </div>
  </div>
</nav>